@font-face {
    font-family: Work_Sans;
    src: url('../assets/font/Work_Sans/WorkSans-VariableFont_wght.ttf');
  }
@font-face {
    font-family: Sanchez;
    src: url('../assets/font/Sanchez/Sanchez-Regular.ttf');
  }
  
  * {
    font-family: Work_Sans !important;
  }

.container-wrapper {
    max-width: 1400px;
    padding: 0px 30px;
    margin-left: auto;
    margin-right: auto;
  }
  input:focus{
    outline: none;
  }
  .nsm7Bb-HzV7m-LgbsSe-MJoBVe{
    display: none !important;
  }
  .bace_logo{
    font-family: Sanchez !important;
  }
  